.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-inner img{
    width: 100%;
    height: 100%;
}

i   {
    color: white;   
}

.cp {
    color: white;
}
