.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-inner img{
    width: 100%;
    height: 100%;
}

i   {
    color: white;   
}

.cp {
    color: white;
}

.poster1{
    width: 70%;
}

h5{
    font-weight: 500;
    font-family: inherit;
    margin-top: 9px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;
}

.checked{
    color: orange;
}
